body {
    background-image: url("/background.jpg");
    background-position: center ;
    background-repeat: repeat-y;
    background-size: cover ;
}

header {
    background-image: linear-gradient(red,orange);
    color: yellow;
    padding: 5rem 0 5rem 0 
}

#newOrder{
    margin: auto;
    max-width: 200px;
    margin-bottom: 1rem;
}

.devourBtn {
    margin: 1rem 0 1rem 0;
}

.form {
text-align: center;
}

header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

header h4 {
    font-family: cursive;
}

.input-group {
    text-align: center;
}

.burger-menu {
    margin-top: 5rem;
    max-width: 80%;
    background-color: white;
    opacity: 0.9;
    border-radius: 25px;
}

.burger-menu h1, h3 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

.list-group{
    margin-bottom: 5rem;
}